.p-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*点击变蓝色高亮*/
.mui-table-view-cell.mui-active {
    /*background-color: #0062CC;*/
}
.table-view-title {
    color: #cacaca;
    .title-item {
        float: left;
        width: 25%;
        text-align: center;
    }
}
.mui-table-view-cell {
    &.red {
        .riseAndFall, .upsAndDowns, .currentPrice {
            color: red;
        }
    }
    &.green {
        .riseAndFall, .upsAndDowns, .currentPrice {
            color: green;
        }
    }
    &>div {
        float: left;
        width: 25%;
        text-align: center;
    }
    .name {
        font-size: 12px;
    }
    .riseAndFall, .upsAndDowns, .currentPrice {
        margin-top: 10px;
    }
}
.uad-list {
    .view1, .view2 {
        float: left;
    }
    .view1 {
        width: 20%;
    }
    .view2 {
        width: 80%;
    }
    .header {
        .header-inner {
            &>div {
                float: left;
            }
        }
    }
}
//.uad-list {
//  li {
//      overflow-x: auto;
//  }
//}
//.stock-name {
//  display: inline-block;
//}
//.stock-info {
//  display: inline-block;
//  width: 1600px !important;
//  &>div {
//      float: left;
//  }
//}


